.timetable {
  margin: 2rem auto;
}

tr {
  border-bottom: 1px solid var(--primary-color);
}

tbody tr:last-child {
  border-bottom: none;
}

th {
  padding: 0.5rem 1rem;
}

td {
  padding: 1rem;
  font-weight: 200;
  text-align: center;
}

td:first-child {
  font-weight: 400;
}

td,
th {
  border-right: 1px solid var(--primary-color);
}

td:last-child,
th:last-child {
  border-right: none;
}

.timetable-mobile {
  margin: 2rem auto;
  display: none;
}

@media screen and (max-width: 1000px) {
  .timetable-mobile {
    display: inline-block;
  }
  .timetable-desktop {
    display: none;
  }
}
