.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.logo {
  margin: 0 1rem;
}

.navbar-nav {
  display: flex;
}

.nav-link {
  margin: 0 1rem;
  transition: all ease-in-out 300ms;
}

.nav-link:last-child {
  margin-right: 2rem;
}

.nav-link:after {
  transition: all ease-in-out 300ms;
  background: none repeat scroll 0 0 var(--secondary-color);
  content: '';
  display: block;
  height: 2px;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
}

.nav-link:hover {
  color: var(--light-grey);
}
