.contact-container {
  display: flex;
  margin: 3rem 0 1rem;
  justify-content: space-between;
}

.contact-info,
.contact-form {
  width: 50%;
}

.contact-info {
  .info-container {
    width: 85%;
    .contact-top {
      margin-bottom: 3rem;
      h2 {
        font-size: 2rem;
      }
    }
    .contact-links {
      margin-bottom: 3rem;
      h2 {
        font-size: 2rem;
      }
      .contact-link {
        margin-bottom: 1rem;
        transition: all ease-in-out 300ms;
        &:hover {
          color: var(--light-grey);
        }
        .icon-box {
          display: inline-block;
          width: 50px;
          .social-icon {
            font-size: 1.5rem;
          }
        }
      }
    }
    .contact-map {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

.contact-form {
  form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2.5rem 0 0 auto;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--secondary-color);
      padding: 7px 0;
      margin: 1.5rem 0;
      &:focus,
      &:active {
        outline: none;
      }
      &:hover {
        border-bottom: 2px solid var(--secondary-color);
      }
    }
    button {
      width: 30%;
      margin-left: auto;
      background-color: var(--secondary-color);
      border: 1px solid var(--light-color);
      color: var(--light-color);
      padding: 7px 10px;
      transition: all ease-in-out 300ms;
      &:hover {
        cursor: pointer;
        color: var(--primary-color-light);
      }
    }
  }
}

.map-details {
  margin-bottom: 3rem;
  h2 {
    font-size: 2rem;
  }
  .map-container {
    display: flex;
    .contact-map {
      width: 70%;

      .map {
        width: 100%;
        height: 150px;
      }
    }
    .address-text {
      margin-left: 1rem;
      p {
        font-size: 1.1rem;
        line-height: 1.75rem;
      }
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--light-color) inset !important;
  -webkit-text-fill-color: var(--primary-color) !important;
}
