.modal-bg {
  width: 100%;
  height: 100%;
  z-index: 98;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-container {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 70vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .close-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1.25rem;
    font-weight: 500;
    &:hover {
      cursor: pointer;
    }
  }

  .modal-img-container {
    width: 50%;
    height: 100%;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-img {
      max-height: 75%;
      max-width: 75%;

      object-fit: cover;
      object-position: 0 10%;
      width: 100%;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 10px;
    }
  }

  .coach-info {
    margin: 0 2rem;
    width: 50%;
    .coach-name {
      font-size: 2rem;
      margin: 2rem 0 1rem;
    }
    p {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
}
